body {
  background-color: rgb(234, 237, 237);
}

/* Header */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 10;

  &__logo {
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0px 20px;
  }

  &__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }

  &__searchInput {
    height: 10px;
    padding: 10px;
    width: 100%;
    border: none;
  }

  &__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    color: #fff;
  }

  &__optionLine1 {
    font-size: 10px;
  }

  &__optionLine2 {
    font-size: 14px;
    font-weight: 800;
  }

  &__basketOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  &__basketCount {
    margin: 0px 10px;
  }
}

/* Home */

.home {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 1500px;

  &__row {  
    display: flex; 
    z-index: 1; 
    margin-left: 5px;  
    margin-right: 5px;
  }

  &__backgroundImage {
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  &__row {
    display: flex;
    z-index: 1;
    margin-inline: 5px;
  }
}

/* Product */

.product {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;

  &__info {
    height: 100px;
    margin-bottom: 15px;
  }

  &__price {
    margin-top: 5px;
  }
  &__rating {
    display: flex;
  }

  img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }

  button {
    background: #f0c14b;
    padding: 3px;
    margin-top: 10px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
  }
}

/* Checkout */


.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;

  // &__left {
  //   flex-basis: 65%;
  // }

  // &__right {
  //   flex-basis: 30%;
  // }

  &__ad {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }
}

/* Subtotal */

.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;

  &__gift {
    display: flex;
    align-items: center;

    input {
      margin-right: 5px;
    }
  }

  button {
    background: #f0c14b;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    color: #000;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
  }
}